@custom-media --viewport-phone (width >= 34.375rem); /*550 px*/
@custom-media --viewport-tablet (width >= 62rem); /*992 px*/
@custom-media --viewport-tablet-l (width >=70rem); /*992 px*/


:root {
  --primary-color: #32C220;
  --warning-color: #FFB143;
  --danger-color: #FF2A84;
  --secondary-color: #A7A8AF;
}