.main-places {

}

.main-places__wrapper {

}

.main-places__data {
  padding-bottom: 70px;

  @media (--viewport-tablet) {
    padding-bottom: 150px;
  }
}

.main-places__title {
  font-size: 20px;
  line-height: 1.2;
  font-weight: 600;
  margin-bottom: 10px;
  color: #000000;

  @media (--viewport-tablet) {
    font-size: 36px;
    margin-bottom: 15px;
  }
}

.main-places__subtitle {
  font-size: 14px;
  line-height: 1.4;
  letter-spacing: -0.5px;
  color: #808080;
  margin-bottom: 25px;

  @media (--viewport-tablet) {
    font-size: 18px;
    margin-bottom: 40px;
  }
}

.main-places__list {
  display: flex;
  flex-direction: column;
  margin: 0 -15px;

  @media (--viewport-tablet) {
    flex-direction: row;
  }
}

.main-places-item {
  flex: 1;
  margin: 0 0 5px 0;
  padding: 38px 20px;
  border-radius: 5px;
  position: relative;
  display: flex;
  justify-content: space-between;
  box-sizing: border-box;
  background-size: cover;
  background-position: center;
  cursor: pointer;
  overflow: hidden;

  &:hover {
    .main-places-item__content-wrap {
      opacity: 1;
    }
  }

  @media (--viewport-tablet) {
    flex-direction: column;
    justify-content: flex-end;
    margin: 0 15px;
    padding: 0 30px;
    height: 340px;
  }
}

.main-places-item__bookmark {
  background: #E4281A;
  transform: rotate(45deg) translate(50%, 50%);
  font-weight: 600;
  font-size: 10px;
  line-height: 1.25;
  text-align: center;
  text-transform: uppercase;
  color: #FFFFFF;
  padding: 10px;
  position: absolute;
  top: -58px;
  right: -3px;
  width: 188px;
  box-sizing: border-box;

  @media (--viewport-tablet) {
    font-size: 12px;
    padding: 14px;
    top: -51px;
    right: 9px;
  }
}

.main-places-item__title {
  color: #FDFDFD;
  text-transform: uppercase;
  font-weight: 600;
  font-size: 20px;
  line-height: 1.3;

  @media (--viewport-tablet) {
    margin-bottom: 30px;
  }
}

.main-places-item__content-wrap {
  opacity: 0;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  height: 340px;
  background: #E4281A;
  box-shadow: 0px 20px 40px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  box-sizing: border-box;
  transition: all .2s ease-in;
  display: none;

  @media (--viewport-tablet) {
    display: block;
  }
}

.main-places-item__content {
  padding: 36px 30px 20px 30px;
  height: 100%;
  max-height: 100%;
  overflow: auto;
  box-sizing: border-box;
  position: relative;
  z-index: 2;
}

.main-places-item__text {
  font-size: 14px;
  line-height: 1.4;
  letter-spacing: -0.5px;
  color: #FFFFFF;
  margin-bottom: 30px;
}

.main-places-item__content-bg {
  position: absolute;
  top: 20px;
  right: 20px;
  bottom: 23px;
  left: 46px;
  background: url('/images/places/places-dot-bg.png');
  background-size: contain;
  background-repeat: no-repeat;
}

.main-places-item--other {
  background-image: url('/images/places/other.jpg');
  
  padding: 38px 20px;
  justify-content: space-between;
  align-items: flex-start;

  @media (--viewport-tablet) {
    padding: 50px 30px 40px 30px;
  }

  .main-places-item__title {
    @media (--viewport-tablet) {
      margin-bottom: 20px;
    }
  }

  .main-places-item__text {
    display: none;

    @media (--viewport-tablet) {
      display: block;
    }
  }

  .main-places-item__btn {
    display: none;

    @media (--viewport-tablet) {
      display: block;
    }
  }
}

.main-places-item__box {
  display: flex;
  justify-content: space-between;
  width: 100%;
  align-items: center;
  @media (--viewport-tablet) {
    display: block;
  }
}

.main-places-item__arrow {
  fill: #ffffff;
  width: 11px;
  height: 20px;
  opacity: 0.8;

  @media (--viewport-tablet) {
    display: none;
  }
}