div.main-discount
  div.main-discount__wrapper.wrapper
    div.main-discount__data
      h2.main-discount__title Get the second video with 50% discount
        span.red-text .
      button.main-discount__btn.btn Get Started Now
      div.main-discount__bookmark Exclusive