-
  videoItems = [
    {
      img: [
        'images/videos/video-1.jpg',
        'images/videos/video-2.jpg',
        'images/videos/video-3.jpg',
        'images/videos/video-4.jpg',
        'images/videos/video-5.jpg',
        'images/videos/video-6.jpg',
      ]
    },
    {
      img: [
        {
          url: 'images/videos/video-15.jpg',
          isBig: true,
        },
        {
          url: 'images/videos/video-13.jpg',
        },
        {
          url: 'images/videos/video-14.jpg',
        },
      ]
    },
    {
      img: [
        'images/videos/video-7.jpg',
        'images/videos/video-8.jpg',
        'images/videos/video-9.jpg',
        'images/videos/video-10.jpg',
        'images/videos/video-11.jpg',
        'images/videos/video-12.jpg',
      ]
    },
    {
      img: [
        'images/videos/video-10.jpg',
        'images/videos/video-2.jpg',
        'images/videos/video-4.jpg',
        'images/videos/video-11.jpg',
        'images/videos/video-6.jpg',
        'images/videos/video-1.jpg',
      ]
    },
    {
      img: [
        'images/videos/video-5.jpg',
        'images/videos/video-1.jpg',
        'images/videos/video-9.jpg',
        'images/videos/video-14.jpg',
        'images/videos/video-3.jpg',
        'images/videos/video-8.jpg',
      ]
    },
  ]