
header.footer
  div.footer__wrapper.wrapper
    div.footer__data
      div.footer__content
        div.footer__box.footer__box--logo
          img(src="images/logo-sm.svg", alt="logo").footer__logo
          div.footer__input-wrap
            input(type="radio" name="type" id="business" checked).footer__input
            label(for="business").footer__label Business
          div.footer__input-wrap
            input(type="radio" name="type" id="personal" disabled).footer__input
            label(for="personal").footer__label Personal
            span.footer__prefix soon
        div.footer__box.footer__box--nav
          a(href="#").footer__nav Hootel
          a(href="#").footer__nav Real Estate
          a(href="#").footer__nav Restaurants
            span.footer__prefix soon
        div.footer__box.footer__box--social
          a(href="").footer__social
            svg.footer__social-ico
              use(href="#vimeo")
          a(href="").footer__social
            svg.footer__social-ico
              use(href="#youtube")
          a(href="").footer__social
            svg.footer__social-ico
              use(href="#instagram")
          a(href="").footer__social
            svg.footer__social-ico
              use(href="#linkedin")
          a(href="").footer__social
            svg.footer__social-ico
              use(href="#twitter")
          a(href="").footer__social
            svg.footer__social-ico
              use(href="#facebook")
            

      div.footer__content.footer__content--second
        div.footer__box
          p.footer__copyright Copyright © Agenda.Video 2018. All rights reserved.
        div.footer__box.footer__box--social-mobile
          a(href="").footer__social
            svg.footer__social-ico
              use(href="#vimeo")
          a(href="").footer__social
            svg.footer__social-ico
              use(href="#youtube")
          a(href="").footer__social
            svg.footer__social-ico
              use(href="#instagram")
          a(href="").footer__social
            svg.footer__social-ico
              use(href="#linkedin")
          a(href="").footer__social
            svg.footer__social-ico
              use(href="#twitter")
          a(href="").footer__social
            svg.footer__social-ico
              use(href="#facebook")
        div.footer__box--links
          a(href="#").footer__link FAQ
          a(href="#").footer__link Privacy Policy
          a(href="#").footer__link.footer__link--mail info@agenda.video 
          