-
  tabs = [
    {
      name: 'All',
      checked: true
    },
    {
      name: 'Hotels',
    },
    {
      name: 'Real Estate',
    },
    {
      name: 'Restaurants',
    },

    {
      name: 'Events & conferences',
    },
  ]
  companies = [
    '/images/companies/companie-1.png',
    '/images/companies/companie-2.png',
    '/images/companies/companie-3.png',
    '/images/companies/companie-4.png',
    '/images/companies/companie-5.png'
  ]
