// Inject svg sprite to html
script(src="js/load-svg-sprite.js")
// Inject svg sprite to html

// Libraries
script(src="js/jquery.js")
script(src="js/tokenize2.js")
script(src="js/datepicker.min.js")
script(src="js/slick.js")
// Libraries

// Components
script(src="js/base-dropdown-text.js")
script(src="js/main-companies.js")
script(src="js/main-blog.js")
script(src="js/main-videos-slider.js")
script(src="js/base-search.js")
script(src="js/init.js")
script(src="js/base-dropdown.js")
script(src="js/header-mobile.js")
// Components
