
div.main-about
  div.main-about__wrapper.wrapper
    div.main-about__data
      div.main-about__box
        h1.main-about__title Create effective videos for your business
        p.main-about__text Home is behind, the world ahead and there are many paths to tread through shadows to the edge
        button.main-about__btn.btn Make an order now
        div.main-about__guarantee.main-about-guarantee
          svg.main-about-guarantee__icon
            use(href="#shield")
          p.main-about-guarantee__text 100% money back guarantee
      div.main-about__box
        button.main-about__action.main-about-action
          span.main-about-action__icons-wrap
            svg.main-about-action__icon
              use(href="#arrow-down")
            svg.main-about-action__icon
              use(href="#arrow-down")
          span.main-about-action__text Discover More

      img(src="images/main-page/about-bg-wrapper.svg", alt="").main-about__img-wrapper