.main-video-list {
  @media (--viewport-tablet) {
    display: none;
  }
}

.main-video-list__list {
  display: flex;
  flex-wrap: wrap;
  margin: -2px -2px 24px -2px;
}

.main-video-list__item {
  box-sizing: border-box;
  width: 50%;
  display: flex;
}

.main-video-list__item--big {
  width: 100%;

  .main-video-list__img-wrapper {
    &:after {
      display: none;
    }
  }

  &:hover {
    .video-item__play {
      background: #A9281A;
    }
  }
}

.main-video-list__img-wrapper {
  width: 100%;
  margin: 2px;
  box-sizing: border-box;
  padding-bottom: 58%;
  position: relative;
  box-sizing: border-box;
  overflow: hidden;
  border-radius: 5px;
  cursor: pointer;

  &:after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(255, 255, 255, 0.1);
  }

  &:hover {
    &:after {
      display: none;
    }
  }
}

.main-video-list__img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateY(-50%) translateX(-50%);
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.main-video-list__actions {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.main-video-list__btn {
  width: 100%;
}

.main-video-list__btn--more {
  width: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 25px;
  position: relative;
}

.main-video-list__btn-text {
  font-weight: 600;
  font-size: 14px;
  line-height: 1.25;
  color: #E4291A;

}

.main-video-list__btn-ico {
  width: 12px;
  height: 15px;
  position: absolute;
  left: -25px;
  top: 50%;
  transform: translateY(-50%);
}