-
  blogItems = [
    {
      img: 'images/blog/blog-1.jpg',
      date: 'Monday, 31.10.18',
      text: 'How to use videos with influencers to boost your sales'
    },
    {
      img: 'images/blog/blog-2.jpg',
      date: 'Monday, 31.10.18',
      text: 'The style of Deadpan, popular in the 50s, is back again'
    },
    {
      img: 'images/blog/blog-3.jpg',
      date: 'Monday, 31.10.18',
      text: 'Best video editing software'
    },
    {
      img: 'images/blog/blog-4.jpg',
      date: 'Monday, 31.10.18',
      text: '10 marketing video secrets'
    },
    {
      img: 'images/blog/blog-1.jpg',
      date: 'Monday, 31.10.18',
      text: 'How to use videos with influencers to boost your sales'
    },
    {
      img: 'images/blog/blog-1.jpg',
      date: 'Monday, 31.10.18',
      text: 'How to use videos with influencers to boost your sales'
    },
    {
      img: 'images/blog/blog-1.jpg',
      date: 'Monday, 31.10.18',
      text: 'How to use videos with influencers to boost your sales'
    },
  ]