div.main-video
  div.main-video__wrapper.wrapper
    div.main-video__data
      h2.main-video__title Videos That Work
        span.red-text .
      p.main-video__subtitle
        | Videos produced by agenda.video for our clients have proved to drive their business

  include main-videos-slider/main-videos-slider
  include main-videos-list/main-videos-list