-
  advantages = [
    {
      img: 'images/advantages/advantage-1.svg',
      title: 'Experienced Editors',
      text: 'Our experienced video editors make effective and stylish videos for you.'
    },
    {
      img: 'images/advantages/advantage-2.svg',
      title: 'Affordable Prices',
      text: 'Our videos start from €99 — the lowest price for professional videos.'
    },
    {
      img: 'images/advantages/advantage-3.svg',
      title: 'Video in 24 hours',
      text: 'No more waiting. Great new video in just 24 hours. '
    },
    {
      img: 'images/advantages/advantage-4.svg',
      title: 'Performing videos',
      text: 'Our videos attract more than 200 million views every month. '
    },
    {
      img: 'images/advantages/advantage-5.svg',
      title: 'Beautiful designs',
      text: 'Great range of beautiful styles that fit the character of your business. '
    },
    {
      img: 'images/advantages/advantage-6.svg',
      title: 'No Risk',
      text: '100% Money Back if you do not like our video. '
    },
  ]